# Reference configuration for Suricata
# Maps alert signatures to external references

# General references
config reference: bugtraq   https://www.securityfocus.com/bid/
config reference: cve       https://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus    https://www.tenable.com/plugins/nessus/
config reference: url       https://
config reference: vendor    https://

# MI-SOAR-NGFW custom references
config reference: mi-soar-ngfw-doc   https://github.com/scryptocybershield/mi-soar-ngfw/docs/
config reference: mi-soar-ngfw-rule  https://github.com/scryptocybershield/mi-soar-ngfw/rules/